<div class="container">
  <div class="div-1">
    <h2 style="text-align: center;">Angular 2 module for Masonry layout</h2>
    <p>Below example uses Angular material 2 components such as MatButtonModule, MatCardModule</p>
    <ng-masonry-grid *ngIf="showMasonry"
                     [masonryOptions]="{ transitionDuration: '0.4s', gutter: 10, horizontalOrder: true }"
                     [useAnimation]="true"
                     [useImagesLoaded]="true"
                     (onNgMasonryInit)="onNgMasonryInit($event)"
                     [scrollAnimationOptions]="animOptions"
    >
      <ng-masonry-grid-item id="{{'masonry-item-'+ (i)}}" *ngFor="let item of masonryItems; let i = index;">
        <mat-card class="example-card">
          <img mat-card-image [src]="item.src" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <label>Item Number: {{item.count + 1}}</label>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="removeItem('masonry-item-'+ (i))">Remove</button>
          </mat-card-actions>
        </mat-card>

      </ng-masonry-grid-item>
    </ng-masonry-grid>
  </div>
  <div class="div-2">
    <div class="container-fixed">
      <ul class="list">
        <li class="list-item">
          <button class="btn" (click)="addItems()">Add Items</button>
        </li>
        <li class="list-item">
          <button class="btn" (click)="appendItems()">Append Items</button>
        </li>
        <li class="list-item">
          <button class="btn" (click)="prependItems()">Prepend Items</button>
        </li>
        <li class="list-item">
          <button class="btn" (click)="reorderItems()">ReOrder Items</button>
        </li>
        <li class="list-item">
          <button class="btn" (click)="removeFirstItem()">Remove First Item</button>
        </li>
        <li class="list-item">
          <button class="btn" (click)="removeAllItems()">Remove All Items</button>
        </li>
        <li class="list-item" *ngFor="let item of buttons">
          <button class="btn" [ngClass]="{ 'active': item.active }" (click)="onSelect(item)">Effect {{item.index}}</button>
        </li>
      </ul>
    </div>
  </div>
</div>
